header.navbar {
    margin-bottom: 0;
}

#main {
    width: 1024px;
    min-height: 768px;
    padding: 0;
}

#main section {
    min-height: 200px;
}

#sertificate-gallery, #recall-gallery {
    padding: 0 20px;
}

#logo {
    display: inline;
    width: auto;
}

#left {
    width: 50%;
    float: left;
}

#right {
    width: 50%;
    float: right;
}

#motivation img {
    width: 512px;
}

/*overriding slick base styels section*/
.slick-slider {
    margin-bottom: 30px;
    margin-top: 30px;
}
.slick-next, .slick-prev {
    background: grey repeat scroll 0% 0% !important;
}
.slick-next {
    right: -5px;
}
/*endofsection*/