header.navbar {
    margin-bottom: 0;
}

#main {
    width: 1024px;
    min-height: 768px;
    padding: 0;
}

#main section {
    min-height: 200px;
}

#logo {
    display: inline;
    width: auto;
}

#left {
    width: 50%;
    float: left;
}

#right {
    width: 50%;
    float: right;
}

#motivation img {
    width: 512px;
}